@model IEnumerable<BookRental.ViewModel.ThumbnailBoxViewModel>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <br />
    <div class="row">
        <div class="text-right">
            <div class="btn-group">
                <button type="submit" placeholder="Search" class="btn btn-md btn-primary">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
        <div class="float-right">
            @Html.Editor("search", new { htmlattributes = new { @class = "form-control input-sm" } })
        </div>
    </div>
    <br />
}

<div class="row">
    @foreach (var area in Model)
    {
        @Html.Partial("_ThumbnailAreaPartial", area);
    }
</div>