@model IEnumerable<BookRental.Models.Genre>
@using BookRental.Models
@{
    ViewBag.Title = "Index";
}

<h2>Genre</h2>

@Html.Partial("_CreateButtonPartial")

<br />
<br />
<br />

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">@Html.DisplayNameFor(m => m.name)</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @{rowNo += 1; }
                    @rowNo
                </th>
                <td>@Html.DisplayFor(m => item.name)</td>
                <td>
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { genreId = item.genreIdPK })
                </td>
            </tr>
        }
    </tbody>
</table>

