@model IEnumerable<BookRental.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Genre</h2>

<a type="button" class="btn btn-primary btn-sm" href="@Html.Action("Create")">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Create New</span>
</a>

